* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --padding-x: 2rem;
    --accent: #d2ac53;
    --border-top: 3px solid var(--accent);
    --text: #f1f1f1;
}


body {

    width: 100%;
    font-family: 'Jost', sans-serif;
    color: var(--text);
    background-color: black;
}

h1 {
    margin-top: 200px;
    padding-top: 30px;
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
    color: var(--accent);
    margin-bottom: 1rem;
}

.usa {
    width: 75%;
    margin: 0 auto;
}

.usa-container {
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: -12px;
}

.nav-btn {
    place-self: center;
}

.main {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    text-align: center;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr 247px 1fr;
    gap: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-bg {
    z-index: -10;
    width: 100vw;
}

.header-bg img {
    width: 100vw;
}

.block {
    background-color: #111111;
    padding: 20px 30px;
    border-left: 2px solid var(--accent);
    margin-top: 30px;
}

.content {
    padding-inline: var(--padding-x);
    max-width: calc(800px + var(--padding-x));
    margin: 0 auto;
    color: var(--text);
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.description {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 1.25rem;
    margin-top: 30px;
    line-height: 1.5;
}

.featured {
    margin-top: 30px;
    width: 100%;
    display: flex;
    padding: 36px var(--padding-x);
    background-image: url('https://res.cloudinary.com/dkxssdk96/image/upload/v1704401741/prmotion-bg_gzmjoq.png');
}

.feat-img {
    background-image: url('https://res.cloudinary.com/dkxssdk96/image/upload/v1704401741/Prmotion_zix3wf.png');
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    max-width: 100vw;
}

.banner {
    padding: 30px;
    text-align: center;
    width: 100%;
    background-image: url('https://res.cloudinary.com/dkxssdk96/image/upload/v1704403194/feat_bg_cvsrl9.png');
    background-size: cover;
    border-top: var(--border-top)
}

.measure-bg {
    background-color: #111111;
    width: 100%;
}

.measure-heading {
    text-align: center;
}

.measure-wrapper {
    display: flex;
}

.measure-section {
    padding: 30px 0;
    max-width: 800px;
    margin: 0 auto;
}

.measure {
    margin: 0 auto;
    object-fit: contain;
    max-width: 100%;

}

.measure-directions {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

ul {
    margin: 0 auto;
    max-width: 450px;
    text-align: start;
}

li {
    padding: 7px;
    font-size: 1rem;
}

.ordering {
    border-top: var(--border-top);
    padding: 30px 0;
}

.ordering h2 {
    text-align: center;
}

.ordering-directions {
    max-width: 800px;
    margin: 0 auto;
}

.important {
    color: var(--accent);
    text-decoration: underline;
}

.list-wrap {
    max-width: max-content;
    margin: 0 auto;
}


ul.sub-list>li {
    padding: 3px;
    margin-left: 20px;
}

.ordering-list {
    max-width: 300px;
    margin: 10px 0 0 50px;
}

.footer {
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.payment {
    display: flex;
    gap: 40px;
}

.items-center {
    display: grid;
    align-content: center;
}

.order-heading h3 {
    max-width: max-content;
    margin: 0 auto;
}

.order-heading {
    width: 100%;
}

.install h2 {
    text-align: center;
}

.install {
    padding: 40px;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px
}

.video h3 {
    max-width: max-content;
    margin: 0 auto;
    font-size: 1.25rem;
}

.video {
    max-width: 400px;
}

.video img {
    margin: 0 auto;
    max-width: 400px;
}

@media screen and (max-width: 970px) {
    .videos {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    h1 {
        margin-top: 250px;
    }
}

@media screen and (max-width: 800px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .feat-img {
        display: none;
    }

    .install {
        border-top: var(--border-top)
    }

    .header-nav {
        margin-top: 10px;
        ;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        margin-top: 10px;
        ;
    }

    .footer {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    .payment {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
}